.DS_Store
.envrc
.direnv
__pycache__
*.pyc
.ipynb_checkpoints
AllstarFull.csv
Appearances.csv
AwardsManagers.csv
AwardsPlayers.csv
AwardsShareManagers.csv
AwardsSharePlayers.csv
BattingPost.csv
CollegePlaying.csv
FieldingOF.csv
FieldingPost.csv
HallOfFame.csv
HomeGames.csv
Managers.csv
ManagersHalf.csv
Parks.csv
PitchingPost.csv
Schools.csv
SeriesPost.csv
Teams.csv
TeamsFranchises.csv
TeamsHalf.csv
